{
  "presets": ["env", "react"],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "production": {
      "ignore": [
        "**/*.spec.js",
        "**/__mocks__/*",
        "**/__snapshot__/*",
      ],
    },
  },
}
